<a href="https://colab.research.google.com/github/Eduarmma19/ds_python/blob/main/Data_science_con_Python_(Pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas 
Pandas es una librería que nos permitirá manejar nuestros datos de una forma sencilla antes de ser usadas en nuestros posteriores análisis

En pandas encontramos 2 objetos los dataframes y las series.

## ¿Que es un dataFrame ?
Un DataFrame es una tabla donde  cada fila corresponde a un registro y las columnas a caracteristicas de ese registro.

In [1]:
#  Importar la librería pandas 
import pandas as pd

In [4]:
# Data frame sencillo
pd.DataFrame({"Si":[10,20],"No":[500,100]})

   Si   No
0  10  500
1  20  100

En el inicio de cada fila vemos un 0 y 1 corresponden a el nombre de ese registro por defecto, pero podemos asignarles un nombre concreto como por ejemplo, si hablamos de una producto cada uno se identifica por su nombre y para eso usamos la expresión **Index**

In [6]:
#Vamos a hablar de 2 productos de una bodega 
pd.DataFrame({"Precio":[200,400,500],"Color":["Azul","Verde","Amarillo"]},index=["Diadema x", "Diadema z","Diadema k"])

           Precio     Color
Diadema x     200      Azul
Diadema z     400     Verde
Diadema k     500  Amarillo

Ahora por otro lado tenemos las series
## ¿Que es una serie en python?
Mientras que un DataFrame es una tabla , una serie es una lista de valores, por ejemplo

In [7]:
# Crear una serie
pd.Series([50,100,200])

0     50
1    100
2    200
dtype: int64

También se podría decir que es una columna de un dataframe, el cual igualmente le podemos asignar un nombre a cada registro. Pero además individualizar las caracteristicas a un solo item, por ejemplo.

In [9]:
pd.Series([200,100,50],index=["Unidades 2019","Unidades 2020", "Unidades 2021"], name="Diadema x")

Unidades 2019    200
Unidades 2020    100
Unidades 2021     50
Name: Diadema x, dtype: int64

## Importar archivos 
Pandas nos permite traer archivos locales de la siguiente forma:

In [10]:
trump = pd.read_csv("/content/drive/MyDrive/trump_insult_tweets_2014_to_2021.csv")

usando read_csv podemos traer datos en ese formato csv, y solo contando con la ubicación o ruta del archivo que queremos importar como argumento.

In [11]:
#Veamos los primeros registros de este data frame
trump.head()

   Unnamed: 0  ...                                              tweet
0           1  ...  Can you believe this fool, Dr. Thomas Frieden ...
1           2  ...  Can you believe this fool, Dr. Thomas Frieden ...
2           3  ...  Big time in U.S. today - MAKE AMERICA GREAT AG...
3           4  ...  Politician @SenatorCardin didn't like that I s...
4           5  ...  For the nonbeliever, here is a photo of @Neily...

[5 rows x 5 columns]

In [12]:
#¿Cual es la dimensión del data frame?
"""
El valor de la izquierda es el número de filas o registros mientras que el valor de la derecha es el número de columnas
"""
trump.shape

(10360, 5)